* {
    box-size: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: #040B12;
    align-items: flex-start;
    flex-direction: column;
    margin: 0px;
}

.title {
    display: flex;
    font: bold 30px "나눔고딕";
    color: #FAFAFA;
    margin: 0 0 16px 0;
}
.main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1888px;
    height: 736px;
    gap: 16px;
    flex-wrap: wrap;
}
.main > div {
    flex: 1 1;
    min-width: 343px;
    max-width: 459px;
}


/* ⭐ 컨테이너 ⭐ */
.elect,
.gas,
.water {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 460px;
    height: 100%;
    min-width: 343px;
    border-radius: 10px;
    border: 1px solid #1A242B;
    background: #09131A;
    color: #FAFAFA;
    padding: 16px;
}
.average {
    display: flex;
    width: 460px;
    height: 100%;
    background: green;
    min-width: 343px;
}

/* ⭐ 컨테이너 헤더 ⭐ */
.elect_1usage,
 .elect_30usage,
  .elect_charge {
    width: 100%;
}
.elect_1usage_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 459px;
    min-width: 0;
    margin: 0 0 8px 0;
}
#elect_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #1A242B;
    width: 122px;
    height: 50px;
    flex-shrink: 0;
    color: #FAFAFA;
    font: 700 24px "나눔고딕";
    padding: 8px 16px 8px 16px;
}
#elect_title img {
    width: 34px;
    height: 34px;
}
.elect_1usage_header_R img {
    display: block;
    width: 55px;
    height: 42px;
}



/* ⭐ 사용량 ⭐ */
    .elect_1usage_main,
    .elect_30usage_main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 16px 0;
        width: 100%;
    }
    .elect_1usage_main_L,
    .elect_30usage_main_L {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 60%;
    }
    .elect_1usage_main_R,
    .elect_30usage_main_R {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 40%;
    }


    .today_title,
     .month_title,
      .charge_title {
        display: flex;
        font: 700 24px "나눔고딕";
        color: #FAFAFA;
    }
    .today_value,
     .month_value {
        display: flex;
        font: 700 28px "나눔고딕";
        color: #F3C41F;
    }
    .today_ratio,
     .month_ratio {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font: 700 14px "나눔고딕";
        color: #FAFAFA;
        gap: 4px;
    }

    .updown_icon {
        display: flex;
    }
    .updown_icon img {
        display: block;
    }
    .updown_font {
        display: flex;
    }
    .updown_font div {
        display: flex;
    }

/* ⭐ 사용량 푸터 ⭐ */
    .elect_1usage_footer,
     .elect_30usage_footer,
      .elect_charge_footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .elect_1usage_footer_L,
     .elect_30usage_footer_L,
      .elect_charge_footer_L {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font: 400 14px "나눔고딕";
        color: #FAFAFA;
        width: 30%;
        gap: 8px;
    }
    .elect_1usage_footer_R,
     .elect_30usage_footer_R,
      .elect_charge_footer_R {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font: 400 14px "나눔고딕";
        color: #FAFAFA;
        width: 70%;
        gap: 8px;
    }
    .charge_chart {
        display: flex;
        justify-content: center;
        align-items: center;
    }


/* 선 긋기 */
.liner {
    border: 0;
    border-top: 2px solid #1A242B; /* 선 굵기/색상 */
    width: calc(100% + 32px);   /* 좌우 padding 16px * 2 = 32px */
    margin: 16px -16px;
    height: 0;                   /* 높이 제거 */
}

@media (max-width: 411px) {
            .main {
                margin: 0;
            }
        }