<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
</head>



<body>
        <div class="title">에너지 현황</div>
        <div class="main">
            <div class="elect">
                <div class="elect_1usage">
                    <div class="elect_1usage_header">
                        <div class="elect_1usage_header_L">
                            <span>전력</span>
                        </div>
                        <div class="elect_1usage_header_R">
                            <img src="/icon/energe_detail_whorf.svg" alt="분석하기">
                        </div>
                    </div>
                    <div class="elect_1usage_main">
                        <div class="elect_1usage_main_L"></div>
                        <div class="elect_1usage_main_R"></div>
                    </div>
                    <div class="elect_1usage_footer">
                        <div class="elect_1usage_footer_L"></div>
                        <div class="elect_1usage_footer_R"></div>
                    </div>
                </div>
                <div class="elect_30usage"></div>
                    <div class="elect_30usage_main">
                        <div class="elect_30usage_main_L"></div>
                        <div class="elect_30usage_main_R"></div>
                    </div>
                    <div class="elect_30usage_footer">
                        <div class="elect_30usage_footer_L"></div>
                        <div class="elect_30usage_footer_R"></div>
                    </div>
                <div class="elect_charge">
                    <div class="elect_charge_header"></div>
                    <div class="elect_charge_main"></div>
                    <div class="elect_charge_footer">
                        <div class="elect_charge_footer_L"></div>
                        <div class="elect_charge_footer_R"></div>
                    </div>
                </div>
            </div>
            <div class="gas">
                <div class="gas_1usage">
                    <div class="gas_1usage_header">
                        <div class="gas_1usage_header_L"></div>
                        <div class="gas_1usage_header_R"></div>
                    </div>
                    <div class="gas_1usage_main">
                        <div class="gas_1usage_main_L"></div>
                        <div class="gas_1usage_main_R"></div>
                    </div>
                    <div class="gas_1usage_footer">
                        <div class="gas_1usage_footer_L"></div>
                        <div class="gas_1usage_footer_R"></div>
                    </div>
                </div>
                <div class="gas_30usage"></div>
                <div class="gas_30usage_main">
                    <div class="gas_30usage_main_L"></div>
                    <div class="gas_30usage_main_R"></div>
                </div>
                <div class="gas_30usage_footer">
                    <div class="gas_30usage_footer_L"></div>
                    <div class="gas_30usage_footer_R"></div>
                </div>
                <div class="gas_charge">
                    <div class="gas_charge_header"></div>
                    <div class="gas_charge_main"></div>
                    <div class="gas_charge_footer">
                        <div class="gas_charge_footer_L"></div>
                        <div class="gas_charge_footer_R"></div>
                    </div>
                </div>
            </div>
            <div class="water">
                <div class="water_1usage">
                    <div class="water_1usage_header">
                        <div class="water_1usage_header_L"></div>
                        <div class="water_1usage_header_R"></div>
                    </div>
                    <div class="water_1usage_main">
                        <div class="water_1usage_main_L"></div>
                        <div class="water_1usage_main_R"></div>
                    </div>
                    <div class="water_1usage_footer">
                        <div class="water_1usage_footer_L"></div>
                        <div class="water_1usage_footer_R"></div>
                    </div>
                </div>
                <div class="water_30usage"></div>
                <div class="water_30usage_main">
                    <div class="water_30usage_main_L"></div>
                    <div class="water_30usage_main_R"></div>
                </div>
                <div class="water_30usage_footer">
                    <div class="water_30usage_footer_L"></div>
                    <div class="water_30usage_footer_R"></div>
                </div>
                <div class="water_charge">
                    <div class="water_charge_header"></div>
                    <div class="water_charge_main"></div>
                    <div class="water_charge_footer">
                        <div class="water_charge_footer_L"></div>
                        <div class="water_charge_footer_R"></div>
                    </div>
                </div>
            </div>
            <div class="average">
                <div class="average_charge">
                    <div class="average_charge_header"></div>
                    <div class="average_charge_main">
                        <div class="average_charge_main_L"></div>
                        <div class="average_charge_main_R"></div>
                    </div>
                    <div class="average_charge_footer">
                        <div class="average_charge_footer_L"></div>
                        <div class="average_charge_footer_R"></div>
                    </div>
                </div>
                <div class="average_country"></div>
                <div class="average_location"></div>
            </div>
        </div>
</body>
</html>