<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<!--프레임(액자) 불러오기-->
    {{#frame}}
    {{/frame}}




</body>
</html>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
</script>
