<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<link rel="stylesheet" href="css/login.css" />

<body>

    <canvas id="gridCanvas"></canvas>
    <canvas id="stockCanvas"></canvas>

    <div class="container">
        <div class="login">
            <div class="login_input_name">
                BEMS
            </div>
            <div class="login_input_frame">
                <div class="login_input_id">
                    <div class="login_input_head">ID</div>
                    <input type="text" placeholder="아이디 입력">
                </div>
                <div class="login_input_pw">
                    <div class="login_input_head">PW</div>
                    <input type="password" placeholder="비밀번호 입력">
                </div>
                <button class="login_input_btn">LOGIN</button>
            </div>
        </div>
    </div>

</body>
</html>



<script src="js/login.js"></script>

<script>

</script>
