<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>

</head>

<body>
<!--프레임(액자) 불러오기 1 -->
{{#frame/frame_header}}
{{/frame/frame_header}}


<!--프레임(액자) 불러오기 2 -->
{{#frame/frame_footer}}
{{/frame/frame_footer}}


</body>
</html>


