<div class="viewer_3d_container">
    <section class="viewer_3d">
        <div class="viewer_3d_title_section">
            <div class="viewer_3d_title"><img src="icon/building_icon_ver2.svg"><h1>토리빌딩</h1></div>
            <div class="viewer_3d_sub_title">Real-time Data Active</div>
        </div>
        <div class="viewer_3d_render"><h2>여기에 3D 렌더링되어야함.</h2></div>
        <div class="viewer_3d_back"><img src="icon/back_icon.svg"></div>
    </section>
    <section class="info_3d">
        <h2>4층 - 강의실</h2>
        <div class="info_3d_values">
            <div class="info_3d_value">
                <div><img src="icon/elect_icon.svg"><h3>83.4 hkWh</h3></div>
                <h4>전력 사용량</h4>
            </div>
            <div class="info_3d_value">
                <div><img src="icon/gas_icon.svg"><h3>0 ㎥</h3></div>
                <h4>가스 사용량</h4>
            </div>
            <div class="info_3d_value">
                <div><img src="icon/water_icon.svg"><h3>42.12 ㎥</h3></div>
                <h4>수도 사용량</h4>
            </div>
            <div class="info_3d_value">
                <div><img src="icon/waring_icon.svg"><h3>0</h3></div>
                <h4>알림</h4>
            </div>
        </div>
    </section>
</div>
<section class="usage_container">

</section>




